#CarouselFotos, .carousel-item, .carousel-item img{
	height: 84vh;
}

.imagen-portada {
	/*min-width: 100vw;*/
	object-fit: cover;
}



.btn{
	margin: 0 10px;
}

#Inicio {
	padding: 0;
}

nav#mainNav{
	padding: 5px;
}

/*QUITANDO PADDING DE EL NOMBRE DE LA PAGINA EN LA BARRA DE NAVEGACION*/
/* #navbarResponsive a{
	padding: 0 10px;
	color: black;
} */

#logo{
	padding: 0;
}

/*COLORES DE BARRA DE NAVEGACION*/
.fondo-azul{
	background-color: rgb(191, 242, 255);
}

.fondo-azul #navbarResponsive a{
	color: black;
}


.fondo-azul-claro{
	background-color: #16232B;
}

.fondo-azul-claro #navbarResponsive a{
	color: white;
}

.fondo-azul-claro, .fondo-azul{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



@media (min-width: 244px) {  
	#logo {font-size:1.2rem;} /*1rem = 16px*/
  }

#logoImage{
	height:45px;
	 width:45px;
	 background-size:99%;
	 background-repeat:no-repeat;
	 background-position:center center;
}

/* .nav-link{
	padding: 2%;
} */